body {
    padding: 1rem;
}

#quotes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

@media screen and (max-width: 1280px) {
    #quotes {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    #quotes {
        grid-template-columns: repeat(1, 1fr);
    }
}


#quotes article {
    aspect-ratio: 4/3;
    padding: 1rem;
    border-radius: 2rem;
}